<header>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('default') }}">Flors Kentia Pego</a>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    <!-- Search -->
                    <li class="nav-item">
                        <form class="search-table" method="post" action="{{ path('search_default') }}">
                            <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                            <input type="search" class="input-search-table" name="key"
                                   value=""
                                   placeholder="Buscar">
                        </form>
                    </li>

                    <!-- Products -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('all_product') }}">Productos</a>
                    </li>

                    {% if app.user %}
                        <!-- Control Panel -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_table') }}">
                                <i class="fa fa-cog"></i>
                                Panel de Control
                            </a>
                        </li>
                    {% endif %}

                    <!-- Login & Logout -->
                    <div class="dropdown nav-item">
                        <button class="btn btn-light ml-2 mr-2" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if(app.user) %}
                                <a class="dropdown-item text-success" href="">
                                    <i class="fa fa-user"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                                    <i class="fa fa-sign-out"></i>
                                    Cerrar Sesión
                                </a>
                            {% else %}
                                <a class="dropdown-item text-success" href="{{ path('app_login') }}">
                                    <i class="fa fa-sign-in"></i>
                                    Iniciar Sesión
                                </a>
                                <a class="dropdown-item text-success" href="{{ path('app_register') }}">
                                    <i class="fa fa-user-plus"></i>
                                    Registrarme
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>