{% extends 'base-admin.html.twig' %}

{% block title %}Control Panel{% endblock %}

{% block body %}

    <h1>Product table</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>PublishedAt</th>
            <th>UrlImg</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description | slice(0,100) }}</td>
                <td>{{ product.publishedAt ? product.publishedAt|date('Y-m-d') : '' }}</td>
                <td>{{ product.urlImg }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>

{% endblock %}
