{% extends 'base-admin.html.twig' %}

{% block title %}Control Panel - Products{% endblock %}

{% block body %}
    <h1>Product table</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>PublishedAt</th>
                <th class="w-25">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description | slice(0,100)}}</td>
                <td>{{ product.publishedAt ? product.publishedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-info btn-block" href="{{ path('product_show', {'id': product.id}) }}">
                        <i class="fa fa-eye"></i>
                        show
                    </a>
                    <a class="btn btn-warning btn-block" href="{{ path('product_edit', {'id': product.id}) }}">
                        <i class="fa fa-pencil-square-o"></i>
                        edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-block" href="{{ path('product_new') }}">
        <i class="fa fa-plus"></i>
        Create new
    </a>

{% endblock %}
